/* 
    Created on : 13 juin 2020, 00:59:17
    Author     : younes dro
*/



a:hover, a:active, a:focus {
  outline: 0;
}

/******************************************************************************/

/**
* Currency Switcher
*/
div.mobile-extra div.alg_widget_currency_switcher {
    text-align: center;
    margin-top: 11px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}

.top-bar form#alg_currency_selector{
padding: 10px;
    margin: 0 auto;
    /* border: 1px solid; */
    width: 122px;
	
}
.top-bar select{
position: relative;
    display: block;
    height: 40px;
    padding: 0 7px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff!important;
}
body li.menu-item-product p.product__categories, body ul.products li.product p.product__categories{
	display:none;
}
div.woocommerce-card__header > a{
    border: 1px solid #999898c2!important;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    /* background-color: #8b8b8b; */
    color: rgb(52, 51, 51);
    margin-right: 4px;
    font-size: 12px;
    position: relative;
    margin-bottom: 4px;    
}
div.woocommerce-card__header > a:hover{
    background-color: rgba(5, 5, 5, 0.74);
    color: #fff;
}
@media (min-width: 992px){
	.top-bar form#alg_currency_selector{
		margin: 0;
		width:auto;
	}
}


div.mobile-extra div.alg_widget_currency_switcher #alg_currency_selector{
    margin-bottom: 0px;
}
div.osp-contries-wrapper span.select2.select2-container span.select2-results ul{
    font-size: 1em;
}
p.form-row.osp-country-field-show-hide{
    opacity: 1; 
}
i.ops-show-hide-counrtries{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #3bb54a;
    font-size: 20px;
}
i.ops-show-hide-counrtries:hover{
    color: rgb(221,24,0);    
}
    
    div.top-bar-right.alg_widget_currency_switcher{
        display: none;
    }
@media screen and (min-width: 894px){
    div.top-bar-right.alg_widget_currency_switcher{
        display: flex;
    }
}

body.single-product div.product form.cart.desable_form_cart{
    position: relative;
} 
body.single-product div.product form.cart.desable_form_cart div.overlay_form_cart{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    top: 0;
    left: 0;   
}
body.single-product div.product form.cart.desable_form_cart div.overlay_form_cart p{
    font-weight: bold;
    color: #db2041;
    font-family: serif;
    text-align: center;   
}
