/* 
    Created on : 13 juin 2020, 00:59:17
    Author     : younes dro
*/

.col-full.topbar-wrapper{
	display: block!important;
}
.top-bar form#alg_currency_selector{
padding: 10px;
    margin: 0 auto;
    /* border: 1px solid; */
    width: 122px;
	
}
.top-bar select{
position: relative;
    display: block;
    height: 40px;
    padding: 0 7px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
body li.menu-item-product p.product__categories, body ul.products li.product p.product__categories{
	display:none;
}
div.woocommerce-card__header > a{
	border: 1px solid #e5e5e5;
    display: inline-block;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #8b8b8b;
    color: #fff;
	margin-right: 4px;
	font-size:12px;
	position:relative;
        margin-bottom: 4px; 
}
div.woocommerce-card__header > a:hover{
	background-color:rgb(221,24,0);
}
@media (min-width: 992px){
	.top-bar form#alg_currency_selector{
		margin: 0;
		width:auto;
	}
}


p.osp-country-field{
    opacity: 0
}
p.form-row.osp-country-field-show-hide{
    opacity: 1; 
}
i.ops-show-hide-counrtries{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    color: #3bb54a;
    font-size: 20px;
}
i.ops-show-hide-counrtries:hover{
    color: rgb(221,24,0);    
}

.osp-shipping{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    padding-left: 4px;    
}
.osp-shipping span{
    font-size: 12px;
    font-weight: 600;
    margin-right: 6px    
}
.osp-shipping .osp-flag-wrapper {
    width: 35px;
    height: 25px;
    display: inline-block;
    position: relative;
    box-shadow: 0 0 2px #000;
    overflow: hidden;
    cursor: pointer;
}
.osp-shipping .osp-flag-wrapper:hover{
    box-shadow: 0 0 2px #ddd;
}
.osp-shipping .osp-flag-wrapper .osp-flag {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.osp-shipping .osp-flag-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.osp-shipping .osp-img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
